.book {
    display: flex;
    flex-direction: row !important;
    border-radius: 20px !important;
    width: 300px;
    height: 225px !important;
    margin: 10px;
}

.book-footer {
    border-bottom-right-radius: 20px !important;
}

.book-body {
    display: flex;
    flex-direction: column;
    font-size: 14px !important;
    word-break: break-all;
    font-family: Tahoma, serif !important;
}

.book-image {
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    height: 100% !important;
    width: 150px !important;
    object-fit: cover !important;
}

.book-price {
    font-size: 15px !important;
    font-family: Arial, serif !important;
}

@media (max-width: 600px) {
    .book {
        height: 250px !important;
        width: 350px;
    }

    .book-body {
        font-size: 16px !important;
    }

    .book-price {
        font-size: 15px !important;
    }

    .book-image {
        height: 250px !important;
        object-fit: cover !important;
    }
}