.brand {
    font-size: 30px !important;
    font-weight: bold;
    color: white !important;
    font-family: Allura, serif !important;
}

.contact {
    font-size: 18px !important;
    color: white !important;
    font-family: Arial, serif !important;
}