.brand {
    font-size: 26px !important;
    color: white  !important;
    font-family: Arial !important;
}

.contact {
    font-size: 18px !important;
    color: white  !important;
    font-family: Arial !important;
}