
.header {
    background-image: url("../../../assets/books.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
    height: 200px;
}

.page-container {
    margin-left: 7.5% !important;
    width: 85% !important;
}

@media (max-width: 600px) {
    .header {
        height: 150px;
    }
}

.search {
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 7.5%;
    width: 85%;
}

.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
