
.header {
    background-image: url("../../../assets/books.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
    height: 200px;
}

.search {
    margin-top: 35px;
    margin-bottom: 30px;
    width: 100%;
}

.books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
