
.header {
    background-image: url("../../../assets/books.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20%;
    display: flex;
    margin-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}